@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
    background: radial-gradient(circle at top, #0a0a0a, #000);
    color: #00ff99;
    font-family: 'Share Tech Mono', monospace;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 40px;
    border-bottom: 1px solid #00ff99;
}

h1 {
    font-size: 3em;
    letter-spacing: 4px;
    text-shadow: 0 0 10px #00ff99;
}

h2 {
    color: #00ffaa;
    border-bottom: 1px solid #00ff99;
    padding-bottom: 5px;
}

.warning {
    background-color: #001a12;
    color: #00ff99;
    text-align: center;
    padding: 10px;
    border-bottom: 1px dashed #00ff99;
}

section {
    max-width: 900px;
    margin: auto;

 .glitch {
    position: relative;
    color: #00ff99;
    font-size: 3em;
    letter-spacing: 4px;
    display: inline-block; /* IMPORTANT */
}

.glitch::before,
.glitch::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.glitch::before {
    color: red;
    z-index: -1;
    animation: glitch1 .7s infinite;
}

.glitch::after {
    color: cyan;
    z-index: -2;
    animation: glitch2 .7s infinite;
}

@keyframes glitch1 {
    0% { transform: translate(0); }
    25% { transform: translate(-3px, 2px); }
    50% { transform: translate(3px, -2px); }
    75% { transform: translate(-3px, -2px); }
    100% { transform: translate(0); }
}

@keyframes glitch2 {
    0% { transform: translate(0); }
    25% { transform: translate(3px, -2px); }
    50% { transform: translate(-3px, 2px); }
    75% { transform: translate(3px, 2px); }
    100% { transform: translate(0); }
}
